<section class="container">
    <div class="row">
        <table>
            <table class="table">
              <tr>
                    <th>
                        Id:
                    </th>
                    <th>
                        Nome:
                    </th>
                    <th>
                        E-mail:
                    </th>
                </tr>
                <tr *ngFor = "let u of users">
                <td>{{u.id}}</td>
                <td>{{u.nome}}</td>
                <td>{{u.email}}</td>
                </tr>


            </table>


        </table>
    </div>


</section>