<section class="container">
    <div class="row">
        
            <table class="table">
                <tr>
                    <th>
                        Id:
                    </th>
                    <th>
                        Nome:
                    </th>
                    <th>
                        E-mail:
                    </th>
                   
                </tr>
                <tr *ngFor="let u of users">
                    <td>{{u.id}}</td>
                    <td>{{u.nome}}</td>
                    <td>{{u.email}}</td>
               
                <td>
                    <i class="fas fa-pen" (click)="edit(u.id)"></i>
                </td>
                <td>
                    <i class="fas fa-times-circle" (click)="remove(u.id)"></i>
                </td>
            </tr>
            </table>


        
    </div>


</section>