<h1 class="container" id="title">Cursos:</h1>
<section class="container">
    <div class="row">
        <table class="table">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Nome
                </th>
                <th>
                    Início
                </th>
                <th>
                    Término
                </th>
                <th>
                    Quantidade de Horas
                </th>
                <th>
                    Carga Horária
                </th>
                <th>
             
            
                </th>
                <th>
                
                </th>
            </tr>
            <tr *ngFor="let u of curso">
                <td>{{u.key}}</td>
                <td>{{u.nome}}</td>
                <td>{{u.datainicio}}</td>
                <td>{{u.datatermino}}</td>
                <td>{{u.quanthoras}}</td>
                <td>{{u.cargahoraria}}</td>
               <td>
                <i class="fas fa-pen" (click)="edit(u.key)"></i>
               </td>
               <td>
                <i class="fas fa-times-circle"  (click)="remove(u.key)"></i>
               </td>
            </tr>




        </table>







    </div>
</section>